body {
  background-color: rgba(212, 237, 223, 0.971);
  font-family: sans-serif;
}

h1 {
  text-align: center;
  color: #424a3ffc;
  font-weight: 900;
  font-size: 50px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 15px;
  font-size: 20px;
}

.form {
  display: flex;
  align-items: center;
  gap: 5px;
}

.add-book {
  height: 30px;
  width: 115px;
  background-color: rgb(14, 160, 67);
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

table {
  margin-left: 165px;
  margin-right: auto;
  font-size: 20px;
  margin-top: 50px;
  text-decoration: underline;
  color: #424a3ffc;
}

th,
td {
  width: 200px;
}
